<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>  
    <title>Vue_fundamentals</title>
</head>
<body>
    <div id="Vue_fundamentals">
        <h2>{{title.toLocaleUpperCase()}}</h2>
        <div id="add-task-form">
            <input type="text" v-model='newTask' placeholder="Add a task" @keyup.enter=savetask>
            <button class="btn btn-primary" @click=savetask>Save Item</button>

        </div>
        <ul>
            <li v-for="task in tasks"><h4><i>{{task}}</i></h4></li>
        </ul>
    </div>

    <script>
       var todoList = new Vue({
            el : '#Vue_fundamentals',
            data : {
                title : 'To-DO List',
                newTask:'',
                tasks:[
                    'Go to Gym',
                    'Prepared breakfast ',
                    'Go to Work',
                ]
            },
            methods :{
                savetask: function(){
                    this.tasks.push(this.newTask)
                    this.newTask =''
                }
            }

        });
    </script>
</body>
</html>


    <!-- <div id="vue-app">
        <p>{{title}}</p>
    </div>
    <script src="src/main.js"></script> -->
