<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>  
    <title>Vue_fundamentals</title>
</head>
<body>
    <div id="Vue_fundamentals">
        <div class="header">
            <h2>{{title.toLocaleUpperCase()}}</h2>
            <button v-if="state === 'default'" class="btn btn-primary" @click=changeState('edit') >Add Task</button>
            <button v-else class="btn btn-primary" @click=changeState('default')>Cancel Task</button>
        </div>
        <div v-if="state ==='edit'" id="add-task-form">
            <input type="text" v-model='newTask' placeholder="Add a task" @keyup.enter=savetask>
            <button class="btn btn-primary" :disabled="newTask.length===0" @click=savetask>Save Item</button>

        </div>
        <ul>
            <li v-for="task in reversedTask"  ><h4><i>{{task}}</i></h4></li>
        </ul>
        <p>
            <li v-if="tasks.length === 0">
                <strong>
                    <i>Nice job! You do all Your tasks</i>
                </strong>
            </li>
        </p>
    </div>

    <script>
       var todoList = new Vue({
            el : '#Vue_fundamentals',
            data : {
                state:'default',
                title : 'To-DO List',
                newTask:'',
                tasks:[
                     {
                        label:'Go to Gym',
                        purchased:false,
                        highPriority:false,
                    },
                    {
                        label:'Prepared breakfast',
                        purchased:true,
                        highPriority:false,
                    },
                    {
                        label:'Go to Work',
                        purchased:false,
                        highPriority:false,
                    },
                ]
            },
            computed:{
                reversedTask(){
                    return this.tasks.slice(0).reverse();
                }
            },
            methods :{
                savetask: function(){
                        this.tasks.push(this.newTask)
                        this.newTask =''
                },
                changeState:function(newstate){
                    this.state=newstate
                      this.newTask=''
                
                }
            }

        });
    </script>
</body>
</html>


    <!-- <div id="vue-app">
        <p>{{title}}</p>
    </div>
    <script src="src/main.js"></script> -->
